.logo {
  margin: 30px 34px;
}
.logo > * {
  vertical-align: middle;
}
.logo img {
  height: 30px;
  display: inline-block;
}
.logo span {
  font-weight: 600;
  font-size: 22px;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
